<form action="/api/session/login" method="POST">
    <input id="email" name="email" type="email" value="" placeholder="email"/>
    <input id="password" name="password" type="password" value="" placeholder="password"/>
    <input id="registrar" name="registrar" type="submit" value="login"/>
</form>
<a href="/register">no tengo cuenta</a>
<hr/>
<a href="/api/session/github">Login Github</a>